<div class="container">
  <div>
    <div></div>
    <div>
      <h1>Get started organizing your day</h1>
      <p>
        Easily and intuitively organize your day, from the routine you do every
        day, to the weekly check-ins, to the one-off tasks you keep forgetting.
      </p>
      <p>
        All for free!
      </p>
      <div>
        <button>
          Sign Up For a Free Account
        </button>
      </div>
    </div>
    <div>
      <img src="" alt="">
    </div>
  </div>
</div>
