<div class="container p-2">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-4 border-bottom">
    <a class="nav-link" [routerLink]="['/']">
      Home
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center">

      <li>
        <a class="nav-link" [routerLink]="['/tasks']">
          Tasks
        </a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/settings']">
          Settings
        </a>
      </li>
    </ul>
    <div class="user-credentials col-md-3 text-end">
      <button type="button" class="btn btn-primary me-2">Sign-up</button>
      <button type="button" class="btn btn-outline-primary">Login</button>
    </div>
  </header>
</div>
